# Entornos virtuales
.venv/
venv/
env/

# Cachés de Python
__pycache__/
*.py[cod]

# Archivos de logs
*.log

# Configs de editor
.vscode/

# Variables de entorno
.env

# Vercel
.vercel

# Otros
*.db
*.sqlite3
htmlcov/
.pytest_cache/
coverage.xml
*.egg-info/
